@media (max-width: 1024px) {
    .sidebar-container {
        height: 60px;
        
    }
}

.sidebarContainer {
    align-items: center;
    background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
    border-radius: 10px 10px 0 0;
    bottom: 0;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    left: 0;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.sidebarIcon.active, .sidebarIcon:hover {
    color: #007bff;
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .sidebarIcon {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }
}

.sidebarIcon {
    align-items: center;
    color: #6c757d;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    transition: color .3s ease, transform .3s ease;
}